<section id="contact">
  <div class="card">
    <div class="card-body">
      <h2 class="h2 card-title">Contact</h2>
      <form
        action="mailto:petricevic@epilentio.hr?subject=Inquiry"
        method="get"
        enctype="text/plain"
      >
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">E-Mail</span>
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="mail@example.com"
          />
        </div>
        <div class="input-group mb-3">
          <textarea
            placeholder="Message..."
            name="body"
            rows="5"
            class="form-control"
          ></textarea>
        </div>
        <input type="submit" class="btn btn-primary mt-2" value="Send" />
      </form>
    </div>
  </div>
</section>
