<section id="other" class="grid md:grid-cols-2">
  <div class="p-4">
    <h1 class="text-2xl font-bold">For Digital Nomads</h1>
    <p class="">
      Our modern rental apartments in Croatia's tranquil Split region are a
      digital nomad's dream. With scenic views, a serene mountainside location,
      and beaches nearby our apartments offer the perfect blend of productivity
      and relaxation. We offer you the fastest and most reliable internet
      connection provided by Starlink. Benefit from off-season rates for an
      affordable and peaceful remote work experience.
    </p>
  </div>
  <img src="/images/starlink.svg" alt="Starlink logo" />
</section>
