<section id="rentals-location">
  <div class="p-4">
    <h1 class="text-2xl font-bold">Location</h1>
    <p>
      The beach is just a short 250m stroll away (approximately 15 minutes on
      foot or a quick 2-minute drive), and the vibrant cities of Split and Omis
      are reachable within 15 minutes by car.
    </p>
  </div>
  <div class="h-96 p-4">
    <iframe
      class="w-full h-full"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d151393.67742156505!2d16.58486697593002!3d43.47043750452751!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x134a9fbfd32a215f%3A0xfce4eef01cd94662!2sLambda%20Apartments!5e0!3m2!1sen!2shr!4v1696675120172!5m2!1sen!2shr"
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      frameborder="0"
      style="border: 0"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"
    >
    </iframe>
  </div>
</section>
