<section id="rentals-summary">
  <div class="p-4">
    <h1 class="text-2xl font-bold">Our Apartments</h1>
    <p>
      Discover the perfect getaway at Epilentio's modern rental apartments,
      known as Lambda Apartments. Situated in the beauty of Croatia's Split
      region. Located in a peaceful and tranquil mountainside location
      surrounded by lush olive groves, our apartments provide the ideal escape.
    </p>
  </div>
  <div class="p-4">
    <div class="carousel carousel-center p-4 space-x-4 bg-neutral rounded-box">
      <div class="carousel-item">
        <img
          src="/images/apartments-lambda-3-1-bedroom.webp"
          class="rounded-box h-96"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/images/apartments-lambda-3-1-bedroom-1.webp"
          class="rounded-box h-96"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/images/apartments-lambda-3-1-living-room.webp"
          class="rounded-box h-96"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/images/apartments-lambda-3-1-living-room-1.webp"
          class="rounded-box h-96"
        />
      </div>
    </div>
  </div>
</section>
