<section id="rentals-amenities">
  <div class="p-4">
    <h1 class="text-2xl font-bold">Amenities</h1>
    <p class="pb-2">
      With a total of four apartments, including two inviting two-room
      apartments and two spacious three-room apartments, we offer a variety of
      choices to suit your needs. Each apartment boasts a private entrance,
      dedicated parking space, and breathtaking views of the Adriatic Sea and
      the picturesque island of Brac. Inside, you'll find well-appointed spaces
      with a bedroom, living room, kitchen, and a convenient bathroom – ideal
      for solo travelers, couples, or families of four. Plus, stay connected
      effortlessly with top-notch internet connectivity provided by Starlink.
    </p>
  </div>
  <div class="p-4 grid grid-cols-3 md:grid-cols-5 space-x-4 space-y-8">
    <div>
      <header class="footer-title">Kitchen and dining</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-utensils"></i> Dishes and silverware</li>
        <li>
          <i class="fa-solid fa-kitchen-set"></i> Pots, pans, bowls, cooking
          utilities
        </li>
        <li><i class="fa-solid fa-mug-hot"></i> Nespresso coffee machine</li>
        <li><i class="fa-solid fa-snowflake"></i> Refridgerator</li>
        <li><i class="fa-solid fa-snowflake"></i> Freezer</li>
        <li>
          <i class="fa-solid fa-spray-can-sparkles"></i> Cleaning products
        </li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Bathroom</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-shower"></i> Shower</li>
        <li><i class="fa-solid fa-fan"></i> Hair dryer</li>
        <li>
          <i class="fa-solid fa-spray-can-sparkles"></i> Cleaning products
        </li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Bedroom</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-bed"></i> Cotton bed linens</li>
        <li><i class="fa-solid fa-shirt"></i> Wardrobe with hangers</li>
        <li><i class="fa-solid fa-moon"></i> Shutters/ blinds</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Living room</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-couch"></i> Big convertible couch</li>
        <li><i class="fa-solid fa-tv"></i> Big modern LCD TV</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Laundry</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-shirt"></i> Washing machine</li>
        <li><i class="fa-solid fa-shirt"></i> Dryer</li>
        <li>
          <i class="fa-solid fa-jug-detergent"></i> Detergent, softener (for
          short-term renters)
        </li>
        <li><i class="fa-solid fa-shirt"></i> Iron</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Heating and cooling</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-temperature-down"></i> Air conditioning</li>
        <li><i class="fa-solid fa-temperature-up"></i> Heating</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Internet and office</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-wifi"></i> Wifi</li>
        <li><i class="fa-solid fa-satellite"></i> Starlink</li>
        <li><i class="fa-solid fa-print"></i> Printer in building</li>
        <li><i class="fa-solid fa-stapler"></i> Dedicated office desk</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Family and children</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-bed"></i> Baby bed/ crib</li>
        <li><i class="fa-solid fa-chair"></i> Baby highchair</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Scenic views</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-water"></i> Sea view</li>
        <li><i class="fa-solid fa-mountain-sun"></i> Valley view</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Home safety</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-kit-medical"></i> First aid kit</li>
        <li><i class="fa-solid fa-fire-extinguisher"></i> Fire extinguisher</li>
      </ul>
    </div>
    <div>
      <header class="footer-title">Facilities</header>
      <ul class="space-y-2">
        <li><i class="fa-solid fa-square-parking"></i> Free private parking</li>
        <li><i class="fa-solid fa-fire-burner"></i> Outside barbecue space</li>
      </ul>
    </div>
  </div>

  <!--Scenic views
Bathroom
Hair dryer
Cleaning products
Bedroom and laundry
Free washer – In building
Dryer
Essentials
Towels, bed sheets, soap, and toilet paper
Hangers
Bed linens
Cotton linens
Room-darkening shades
Iron
Entertainment
HDTV
Family
Crib
Pack ’n play/Travel crib
Home safety
Fire extinguisher
First aid kit
Internet and office
Wifi
Dedicated workspace
Kitchen and dining
Kitchen
Space where guests can cook their own meals
Freezer
Dishwasher
Stove
Oven
Location features
Private entrance
Separate street or building entrance
Outdoor
Backyard
An open space on the property usually covered in grass
BBQ grill
Parking and facilities
Free parking on premises
Services
Self check-in
Smart lock
Not included
Unavailable: Security cameras on propertySecurity cameras on property
Unavailable: Smoke alarmSmoke alarm
There is no smoke alarm on the property.
Unavailable: Carbon monoxide alarmCarbon monoxide alarm
Host has indicated no carbon monoxide detector is necessary. Reach out to the host with any questions.
Unavailable: ShampooShampoo
--></section>
