<section id="technologies" class="p-4">
  <div>
    <h1 class="text-2xl font-bold">Technologies</h1>
    <p class="pb-4">
      At Epilentio, our commitment to building regression-free and reliable
      software solutions is powered by our expertise in cutting-edge
      technologies. We specialize in functional programming, leveraging the
      power of languages like Haskell, Elm, PureScript, and Rust to craft robust
      and error-free software. With Nix/ NixOS, we ensure deterministic and
      reproducible builds, enabling seamless deployment and system configuration
      management.
    </p>
  </div>
  <div class="grid grid-cols-3 place-items-center gap-2">
    <div>
      <a class="flex justify-center" href="https://nixos.org/">Nix/NixOS</a>
      <a href="https://nixos.org/"
        ><img class="max-h-40" src="/images/nix.svg" alt="NixOS logo"
      /></a>
    </div>
    <div>
      <a class="flex justify-center" href="https://haskell.org/">Haskell</a>
      <a href="https://haskell.org/"
        ><img class="max-h-40" src="/images/haskell.png" alt="Haskell logo"
      /></a>
    </div>
    <div>
      <a class="flex justify-center" href="https://purescript.org/"
        >PureScript</a
      >
      <a href="https://purescript.org/"
        ><img
          class="max-h-40"
          src="/images/purescript.png"
          alt="PureScript logo"
      /></a>
    </div>
  </div>
</section>
