<!doctype html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8" >
    <meta http-equiv="x-ua-compatible" content="ie=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link
      rel="alternate"
      type="application/atom+xml"
      title="epilentio"
      href="/posts/feed.atom"
    >
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preload" href="/images/icons.svg" as="image" type="image/svg+xml">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" >
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" >
    <!-- Matomo -->
    <script src="/js/analytics.js"></script>
    <script src="https://analytics.marijan.pro/matomo.js" async defer></script>
    <!-- End Matomo Code -->
    <script src="/js/theme-state.js"></script>
    <script defer src="/js/fontawesome.min.js"></script>
    <meta http-equiv="X-Content-Type-Options" content="nosniff">
    <meta http-equiv="X-XSS-Protection" content="1; mode=block">
    <meta name="robots" content="noai, noimageai">
  </head>
    <body>
      <header class="bg-base-100">
        <div class="max-w-3xl m-auto">
          <nav class="navbar">
            <div class="navbar-start">
              <a class="btn btn-ghost normal-case text-xl" href="/" style="font-family: 'Cinzel', sans-serif;">
                EpilentiO
              </a>
              <ul class="menu menu-horizontal">
                <li>
                  <a href="/">Software Engineering</a>
                </li>
                <li>
                  <details>
                    <summary>Rental Apartments</summary>
                    <ul class="bg-base-200">
                      <li>
                        <a href="/apartments-for-vacations/">For Vacations</a>
                      </li>
                      <li>
                        <a href="/apartments-for-nomads/">For Digital Nomads</a>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
            <div class="navbar-end">
              <div>
                <!-- external links -->
                <ul class="menu menu-horizontal text-xl">
                  <li>
                    <a href="https://links.epilentio.hr" class="text-s"
                      ><i class="fa-solid fa-link"></i></a
                    >
                  </li>
                  <li>
                    <a href="https://instagram.com/epilentio" class="text-s"
                      ><i class="fa-brands fa-instagram"></i></a
                    >
                  </li>
                  <li>
                    <label class="swap swap-rotate">
                      <!-- this hidden checkbox controls the state -->
                      <input id="themeController" onclick="saveThemeState()" type="checkbox" class="theme-controller" value="nord" />
                      <svg class="swap-on icon" viewBox="0 0 24 24">
                        <use href="/images/icons.svg#moon"></use>
                      </svg>
                      <svg class="swap-off icon" viewBox="0 0 24 24">
                        <use href="/images/icons.svg#sun"></use>
                      </svg>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <main>
        <div class="max-w-2xl m-auto">
          <div id="content" class="pt-4 px-4 md:px-0">
          </div>
        </div>
      </main>
      <div class="max-w-2xl m-auto">
        <div class="divider"></div>
      </div>

      <footer
        class="footer sm:footer-horizontal bg-base-100 max-w-2xl m-auto px-4 mb-4"
      >
        <aside>
          <h6 class="footer-title">Company:</h6>
          <section class="legal-information">
            <h2 class="text-xl">Epilentio d.o.o.</h2>
            <p>
              Ulica Gospe od zdravlja 34 <br />
              21264 Donji Proložac <br />
              Croatia (HR) <br />
              <strong>VAT ID:</strong> HR 349 332 839 65<br />
              <strong>OIB/ Company ID:</strong> 349 332 839 65<br />
              <strong>E-Mail:</strong> petricevic@epilentio.hr<br />
            </p>
          </section>
        </aside>
        <nav>
          <h6 class="footer-title">Social:</h6>
          <a href="https://links.epilentio.hr" class="text-sm"
            ><i class="fa-solid fa-link"></i> Book your Apartment now</a
          >
          <a href="https://instagram.com/epilentio" class="text-sm"
            ><i class="fa-brands fa-instagram"></i> Follow us on
            Instagram</a
          >
        </nav>
        <nav>
          <h6 class="footer-title">Contact us:</h6>
          <a href="https://wa.me/385953136831" class="text-sm"
            ><i class="fa-brands fa-whatsapp"></i> Text us on WhatsApp</a
          >
          <a href="tel:+385953136831" class="text-sm"
            ><i class="fa-solid fa-phone"></i> +385 95 3136 831</a
          >
          <a
            href="mailto:petricevic@epilentio.hr?subject=Request&body=Poruka"
            class="text-sm"
            ><i class="fa-solid fa-envelope"></i> petricevic@epilentio.hr</a
          >
        </nav>
      </footer>
      <footer class="footer footer-center text-neutral-content p-4">
        <p>Copyright © 2025 - All right reserved by Epilentio d.o.o.</p>
      </footer>
  </body>
</html>
