<section id="contact" class="">
  <h1 class="h1">Contact</h1>
	<div class="container">
    <div class="row">
      <div class="col-sm">
        <h5 class="text-muted">Address</h5>
        <p>Ulica Gospe Od Zdravlja 34, 21264 Donji Proložac</p>
        <h5 class="text-muted">E-Mail</h5>
        <p><a href="">petricevic@epilentio.hr</a></p>
        <h5 class="text-muted">Personal ID (OIB)</h5>
        <p>34933283965</p>
      </div>
      <div class="col-sm">
        <form action="mailto:petricevic@epilentio.hr" method="get">
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label>E-Mail</label>
                  <input type="email" name="email" class="form-control" placeholder="E-Mail">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <label>Message</label>
                <textarea placeholder="Message..." name="Message" rows="5" class="form-control"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>