<section id="technologies" class="bg-light-subtle p-3">
  <div class="container">
    <div class="row justify-content-md-center">
      <h2 class="h2 text-center">Technologies</h2>
    </div>
    <div class="row d-flex flex-wrap justify-content-center column-gap-5 align-items-top text-center">
      <div class="col-lg-2 col-md-4 col-6">
        <a class="h5 text-decoration-none" href="https://nixos.org/">Nix/NixOS</a>
        <a href="https://nixos.org/"><img src="/images/nix.svg" class="img-fluid img-tech" alt="..." style=""></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a class="h5 text-decoration-none" href="https://haskell.org/">Haskell</a>
        <a href="https://nixos.org/"><img src="/images/haskell.png" class="img-fluid img-tech" alt="..." style=""></a>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <a class="h5 text-decoration-none" href="https://purescript.org/">PureScript</a>
        <a href="https://nixos.org/"><img src="/images/purescript.png" class="img-fluid img-tech" alt="..." style=""></a>
      </div>
  </div>
</section>
